<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPAutoUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FTPAutoUpload.Properties.Settings>
            <setting name="ftphost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="watchdir" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="watchpattern" serializeAs="String">
                <value>*.jpg</value>
            </setting>
            <setting name="everynthfile" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ftpuser" serializeAs="String">
                <value>basti</value>
            </setting>
            <setting name="ftppass" serializeAs="String">
                <value>geheim</value>
            </setting>
            <setting name="remotedir" serializeAs="String">
                <value>wp-content</value>
            </setting>
            <setting name="constantFileName" serializeAs="String">
                <value>constant.jpg</value>
            </setting>
            <setting name="constantdir" serializeAs="String">
                <value>wp-content</value>
            </setting>
        </FTPAutoUpload.Properties.Settings>
    </userSettings>
</configuration>